#!/usr/bin/env python

""" temporary configuration for facebook """

FACEBOOK_API_KEY = '2d975cf90520a732a4229a1737897920'
FACEBOOK_APPLICATION_ID = '130810080636'
FACEBOOK_SECRET_KEY = '6e43770244790dfc235c43abbcd390b3'
FACEBOOK_SESSION_KEY = '50MZ5E'
