#!/usr/bin/env python

""" config.py 
    - configuration values."""

__Revision__="$Header$"

import os.path

# ===================================================================
# GENERAL CONFIGURATION
# ===================================================================

USER_AGENT = 'eWRT Version/0.1; Module %s +http://p.semanticlab.net/eWRT'

# default sleep time for web requests in seconds
DEFAULT_WEB_REQUEST_SLEEP_TIME = 1 


# ===================================================================
# USERNAMES AND API-KEYS
# ===================================================================

# delicious
DELICIOUS_USER = "username"
DELICIOUS_PASS = "password"

# amazon
AMAZON_ACCESS_KEY = "yourkey"

# file to copy all xml input from the amazon webservice (the content is only
# copyied if a file is specified)
AMAZON_DEBUG_FILE = ""

# ===================================================================
# PATHS AND URLs
# ===================================================================

AMAZON_LOCATIONS = { 'us': 'http://webservices.amazon.com/onca/xml?Service=AWSECommerceService',
                     'uk': 'http://webservices.amazon.co.uk/onca/xml?Service=AWSECommerceService',
		     'de': 'http://webservices.amazon.de/onca/xml?Service=AWSECommerceService',
		     'jp': 'http://webservices.amazon.co.jp/onca/xml?Service=AWSECommerceService',
		     'fr': 'http://webservices.amazon.fr/onca/xml?Service=AWSECommerceService',
		     'ca': 'http://webservices.amazon.ca/onca/xml?Service=AWSECommerceService' }




#
# CORPUS LOCATIONS
#
CORPUS_DIR = 'corpus'
AUTOCLASS_SAMPLE = "reuters-10000-multitoken"

#BBC_CORPUS_HOME      = os.path.join( CORPUS_DIR, "news.bbc.co.uk-frozen" )
BBC_CORPUS_HOME      = os.path.join( CORPUS_DIR, "news.bbc.co.uk" )
BBC_CORPUS_HOME_HTML = os.path.join( BBC_CORPUS_HOME, "html" )
BBC_CORPUS_HOME_LOW  = os.path.join( BBC_CORPUS_HOME, "low" )
BBC_CORPUS_HOME_RSS  = os.path.join( BBC_CORPUS_HOME, "rss" )

BBC_CORPUS_TIMEFORMAT = "%a, %d %b %Y %H:%M:%S %Z"

# COMPRESSED VERSION OF THE CORPUS
BBC_CORPUS_COMPRESSED = "data/news.bbc.co.uk.tar.gz"

# default setting for the opencalais key.
OPENCALAIS_URL       = "http://api.opencalais.com/enlighten/calais.asmx/Enlighten"
OPENCALAIS_KEY       = ""
OPENCALAIS_CACHE_DIR = "./cache"

#
# NEURAL NETWORK
#

# $Id$
